.title,
.content {
  color: #3f51b5;
}

.title {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  margin-bottom: 6px;
}

ol {
  margin: 0;
}

.error {
  color: red;
}

.bio {
  margin-bottom: 20px;
}

.repo_list {
  color: red;
  font-size: 20px;
}

.link {
  display: flex;
  justify-content: center;
  background-color: #3f51b5;
  padding: 6px 16px;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  transition: all .3s ease;
  position: relative;
}

.link:hover {
  background-color: #47549e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.link:active {
  background-color: transparent;
  color: #3f51b5;
}

.wrap {
  text-align: center;
}

.item {
  position: relative;
  margin-bottom: 20px;
}

.update {
  font-size: 10px;
  position: absolute;
  right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > ul > li > button {
  color: #3f51b5;
}

.repos_descr {
  display: block;
  margin: 0 auto;
  width: 70%;
  color: #3f51b5;
  font-size: 14px;
  transition: all .4s ease;
  padding: 0 16px;
  font-style: italic;
  position: relative;
}

.repos_descr:hover {
  background-color: #3f51b5;
  color: #fff;
  border-top: 1px solid darkblue;
  font-size: 14px;
  padding: 6px 16px;
  font-style: normal;
}

.repos_descr:active {
  transition: none;
  color: #3f51b5;
  background-color: #fff;
}

.repos_descr::before {
  content: "description:";
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 0;
}

.repos_descr:hover.repos_descr::before {
  content: "github pages:";
  font-size: 10px;
  top: 4px;
}

.repos_descr:hover.repos_descr::after {
  position: absolute;
  content: '';
  background-image: url(img/gitpages.png);
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 10px;
}

.css_language,
.html_language,
.js_language {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
}

.css_language {
  background-color: #563d7c;
}

.html_language {
  background-color: #e34c26;
}

.js_language {
  background-color: #f1e05a;
}

.repo_lang {
  font-size: 8px;
  position: absolute;
  bottom: 1px;
  right: 3px;
  display: flex;
  align-items: center;
  color: #fff;
}

@media (max-width: 430px) {
  .bio > img {
    width: 300px;
    height: 300px;
  }

  .link {
    width: 65%;
    font-size: 13px;
  }

  .update {
    font-size: 8px;
  }
}
